.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

body {
    background-color: #f9fafb;
}

.level {
    background-color: #c7b3e0;
}

.imgRounded {
    border-radius: 20px;
}
